.header {
    justify-content:center;
    display:flex;
    align-items:center;
    height: 40vh;
    width: 84vw;
    padding: 10px 100px 0px;
    border-style: solid;
    color:white;
    font-size: 50px;
    box-shadow:5px 5px 15px 5px blue;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #070706;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color:blue
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .menu {
    justify-content: center;
    align-items: center;
    display: flex;
    border: solid;
    margin-top: 30px;

  }
  .header {
    background-image: url('back.jpg');
    background-position: center;
    background-size: contain;
  }
  body{
    background-image: linear-gradient(to right,rgb(233, 2, 233),blue,aqua,rgb(233, 2, 233));
  }
  .cal1 {
    color:white;
    font-size: medium;
    width: 300px;
    height: 300px;
    display: -webkit-inline-flex;
    border: solid;
    justify-content: center;
    align-content: center;
    margin: 20px 50px 10px;
    padding:10px 10px 10px;

  }
  .about {
    margin: 200px 50px 10px;
    justify-content: center;
    align-items: center;
    max-width: 200vh;
  }