.para {
    color:cyan
}
body {
    background-image: url("back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat:initial;
}
.text_box {
    height: 25px;
    border-color: blue;
}
.text_box:hover {
    box-shadow: 5px 10px 12px red;
}
.b {
    background-color:white;
    color: rgb(0, 0, 0);
}
.b:hover {
    background-color:green;
    color:white;
    transition-duration: 3s;
}
.sp1 {
    color: white;
}
.sp2 {
    color: blue;
}
p {
    color: blue;

}
.input {
    border-radius: 20px 10px;
    border-style:outset;
    border-color: blue;
    height:60vh;
    width: 60vw;
    margin-left: 200px;
    display:grid;
}
@media only screen and (min-700px)
{
    body {
        background-image: url("back.jpg");
        background-position: center;
        background-size: cover;
        background-repeat:initial;
    }

.text_box {
    border-radius:20px;
    border-color: blue;
    padding: 200px 100px;
    color:red;
}
.b {
    background-color: black;
    color: white;
    margin-left: 300px;
    padding: 20px 20px;
}
}