{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIND MODULO FOR INVERSE</title>
    <script src="{% static 'inver_mod.js' %}"></script>
    <link rel="stylesheet" href= "{% static 'page.css' %}">
</head>
<body>
    <div class="body"></div>
    <p class="para">TO FIND MODULO FOR AN INVERSE , PLEASE FILL THE BELOW FIELDS AND CLICK "FIND MODULO" BUTTON</p>
    
    <HR>
    <div class="input">
    <br>
    <p>Enter The Inverse:</p>
    <input id="yoh" type="number" class="text_box" placeholder="enter the integer">
    <br>
    <p>:</p>
    <INPUT id="yuh" type="number" class="text_box" placeholder="enter the modula">
     <br>
        <button  class="b" onclick="myfunc()">FIND MODULO</button>
        </div>
        <p>
            <span class="sp1"> <em> design and JS by </em> </span> <spa class="sp2"> <em>PRINCE x TANSIL</em> </span> 
            
        </p>
</body>
</html>
